// Colors
$white: #FFF;
$black: #37424D;
$pink: #E5007E;
$gray: #D4D7DB;

// Breakpoints
$breakpoint-xr: 390px;
$breakpoint-xs: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 980px;
$breakpoint-xl: 1024px;

// Breakpoints max
$breakpoint-md-max: 767px;

// Breakpoints min
$breakpoint-xl-min: 1025px;

/* Fonts */
$base_font_size: 62.5%;
$body_font_family: "Questrial", sans-serif;
$body_font_size: 1.2rem;
$second_font: 'DM Serif';
