@import "utils/_variables.scss";
@import "utils/_reset.scss";
@import "widgets/header.scss";

@import "pages/home.scss";

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  color: $black;
  font-family: $body_font_family;
  font-size: $body_font_size;
  font-weight: 400;
}
